 <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>crowd-fund</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
   {{#if logged_in}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  <header>
   <h1>projects:</h1>
  </header>
  <main>
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
